<form method="post" action="{{ path('app_supply_order_delete', {'id': supply_order.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ supply_order.id) }}">
    <br/> <button class="btn btn-danger pull-right">Supprimer</button>
</form>
