{% if ingredient.isDeletable and is_granted('ROLE_ADMIN') %}
<form method="post" action="{{ path('app_ingredient_delete', {'id': ingredient.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ingredient.id) }}">
    <br/> <button class="btn btn-danger pull-right">Supprimer</button>
</form>
{% endif %}
