{% extends 'base.html.twig' %}

{% block title %}Ajouter un ingrédient{% endblock %}

{% block body %}
    <h1>Ajouter un ingrédient</h1>

    {{ include('ingredient/_form.html.twig') }}

    <a href="{{ path('app_ingredient_index') }}">Liste des ingrédients</a>
{% endblock %}
