{% extends 'base.html.twig' %}

{% block title %}Nouveau type de non conformité{% endblock %}

{% block body %}
    <h1>Nouveau type de non conformité</h1>

    {{ include('noncompliance_type/_form.html.twig') }}

    <a href="{{ path('app_noncompliance_index') }}"><i class="fa-solid fa-arrow-left"></i> Liste des non-conformités</a>
{% endblock %}
