<form method="post" action="{{ path('app_supplier_price_delete', {'id': supplier_price.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ supplier_price.id) }}">
    <br/> <button class="btn btn-danger pull-right">Supprimer</button>
</form>
