<div class="sidebar-brand-text mx-3"><img width="160" src="{{ asset('build/img/logo_texte_noir.png') }}"></div>

<div class="navbar-nav bg-gradient-primary sidebar_offline">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('index')}}">
    </a>

    <h1 class="appName">OptiResto</h1>
    <h2 class="appBaseline">Le compagnon du restaurateur</h2>

    <ul>
        <li>Maitrise des coûts</li>

        <li>Suivi des achats matières premières</li>
    </ul>
</div>
