{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}
{% set active_link = 'index' %}
{% block body %}
    <!-- <h1>Mon tableau de bord</h1>

    A venir sur cette page : 
    <br/><br/>
    <ul>
        <li>Système d'alerte de variation des Prix</li>
        <li>Suivi des cours des matières premières</li>
        <li>Les produits les plus performants en terme de marge</li>
        <li>Les produits les moins performants en terme de marge</li>
    </ul>-->
{% endblock %}