<div class="row">
    <div class="col-md-3">
        <select id="order_delivery_customer_filter" data-allow-clear="true" data-placeholder="Filtrer par client" class="select2_autoload data-customer-list">
            <option></option>
        </select>
    </div>
    <div class="col-md-3">
        <select id="order_delivery_customerType_filter" data-allow-clear="true" data-placeholder="Type de client" class="select2_autoload">
            <option value="all">Tous</option>
            <option value="internal">Interne à Napaj</option>
            <option value="not_internal">Pro</option>
        </select>
    </div>
    {# <div class="col-md-3">
        <select id="order_delivery_daterange_filter" placholder="Date de livraison" class="select2_autoload">
            <option value="currentWeek">Cette semaine</option>
            <option value="nextWeek">Cette semaine</option>
            <option value="currentMonth">Mois en cours</option>
            <option value="previousMonth">Mois dernier</option>
            <option value="previous6Month">6 derniers mois</option>
        </select>
    </div> #}
</div>




